:root {
    /* display - large */
    --typescale-display-large-font-family-name: Roboto, sans-serif;
    --typescale-display-large-font-family-style: Regular;
    --typescale-display-large-font-weight: 400px;
    --typescale-display-large-font-size: 57px;
    --typescale-display-large-line-height: 64px;
    --typescale-display-large-letter-spacing: -0.25px;
    --typescale-display-medium-font: var(
            --typescale-display-medium-font-family-name
        )
        var(--typescale-display-medium-font-family-style)
        var(--typescale-display-medium-font-weight)
        var(--typescale-display-medium-font-size) /
        var(--typescale-display-medium-line-height)
        var(--typescale-display-medium-letter-spacing);

    /* display - medium */
    --typescale-display-medium-font-family-name: Roboto, sans-serif;
    --typescale-display-medium-font-family-style: Regular;
    --typescale-display-medium-font-weight: 400px;
    --typescale-display-medium-font-size: 45px;
    --typescale-display-medium-line-height: 52px;
    --typescale-display-medium-letter-spacing: 0px;
    --typescale-display-medium-font: var(
            --typescale-display-medium-font-family-name
        )
        var(--typescale-display-medium-font-family-style)
        var(--typescale-display-medium-font-weight)
        var(--typescale-display-medium-font-size) /
        var(--typescale-display-medium-line-height)
        var(--typescale-display-medium-letter-spacing);

    /* display - small */
    --typescale-display-small-font-family-name: Roboto, sans-serif;
    --typescale-display-small-font-family-style: Regular;
    --typescale-display-small-font-weight: 400px;
    --typescale-display-small-font-size: 36px;
    --typescale-display-small-line-height: 44px;
    --typescale-display-small-letter-spacing: 0px;
    --typescale-display-small-font: var(
            --typescale-display-small-font-family-name
        )
        var(--typescale-display-small-font-family-style)
        var(--typescale-display-small-font-weight)
        var(--typescale-display-small-font-size) /
        var(--typescale-display-small-line-height)
        var(--typescale-display-small-letter-spacing);

    /* headline - large */
    --typescale-headline-large-font-family-name: Roboto, sans-serif;
    --typescale-headline-large-font-family-style: Regular;
    --typescale-headline-large-font-weight: 400px;
    --typescale-headline-large-font-size: 32px;
    --typescale-headline-large-line-height: 40px;
    --typescale-headline-large-letter-spacing: 0px;
    --typescale-headline-large-font: var(
            --typescale-headline-large-font-family-name
        )
        var(--typescale-headline-large-font-family-style)
        var(--typescale-headline-large-font-weight)
        var(--typescale-headline-large-font-size) /
        var(--typescale-headline-large-line-height)
        var(--typescale-headline-large-letter-spacing);

    /* headline - medium */
    --typescale-headline-medium-font-family-name: Roboto, sans-serif;
    --typescale-headline-medium-font-family-style: Regular;
    --typescale-headline-medium-font-weight: 400px;
    --typescale-headline-medium-font-size: 28px;
    --typescale-headline-medium-line-height: 36px;
    --typescale-headline-medium-letter-spacing: 0px;
    --typescale-headline-medium-font: var(
            --typescale-headline-medium-font-family-name
        )
        var(--typescale-headline-medium-font-family-style)
        var(--typescale-headline-medium-font-weight)
        var(--typescale-headline-medium-font-size) /
        var(--typescale-headline-medium-line-height)
        var(--typescale-headline-medium-letter-spacing);

    /* headline - small */
    --typescale-headline-small-font-family-name: Roboto, sans-serif;
    --typescale-headline-small-font-family-style: Regular;
    --typescale-headline-small-font-weight: 400px;
    --typescale-headline-small-font-size: 24px;
    --typescale-headline-small-line-height: 32px;
    --typescale-headline-small-letter-spacing: 0px;
    --typescale-headline-small-font: var(
            --typescale-headline-small-font-family-name
        )
        var(--typescale-headline-small-font-family-style)
        var(--typescale-headline-small-font-weight)
        var(--typescale-headline-small-font-size) /
        var(--typescale-headline-small-line-height)
        var(--typescale-headline-small-letter-spacing);

    /* body - large */
    --typescale-body-large-font-family-name: Roboto, sans-serif;
    --typescale-body-large-font-family-style: Regular;
    --typescale-body-large-font-weight: 400px;
    --typescale-body-large-font-size: 16px;
    --typescale-body-large-line-height: 24px;
    --typescale-body-large-letter-spacing: 0.5px;
    --typescale-body-large-font: var(--typescale-body-large-font-family-name)
        var(--typescale-body-large-font-family-style)
        var(--typescale-body-large-font-weight)
        var(--typescale-body-large-font-size) /
        var(--typescale-body-large-line-height)
        var(--typescale-body-large-letter-spacing);

    /* body - medium */
    --typescale-body-medium-font-family-name: Roboto, sans-serif;
    --typescale-body-medium-font-family-style: Regular;
    --typescale-body-medium-font-weight: 400px;
    --typescale-body-medium-font-size: 14px;
    --typescale-body-medium-line-height: 20px;
    --typescale-body-medium-letter-spacing: 0.25px;
    --typescale-body-medium-font: var(--typescale-body-medium-font-family-name)
        var(--typescale-body-medium-font-family-style)
        var(--typescale-body-medium-font-weight)
        var(--typescale-body-medium-font-size) /
        var(--typescale-body-medium-line-height)
        var(--typescale-body-medium-letter-spacing);

    /* body - small */
    --typescale-body-small-font-family-name: Roboto, sans-serif;
    --typescale-body-small-font-family-style: Regular;
    --typescale-body-small-font-weight: 400px;
    --typescale-body-small-font-size: 12px;
    --typescale-body-small-line-height: 16px;
    --typescale-body-small-letter-spacing: 0.4px;
    --typescale-body-small-font: var(--typescale-body-small-font-family-name)
        var(--typescale-body-small-font-family-style)
        var(--typescale-body-small-font-weight)
        var(--typescale-body-small-font-size) /
        var(--typescale-body-small-line-height)
        var(--typescale-body-small-letter-spacing);

    /* label - large */
    --typescale-label-large-font-family-name: Roboto, sans-serif;
    --typescale-label-large-font-family-style: Medium;
    --typescale-label-large-font-weight: 500px;
    --typescale-label-large-font-size: 14px;
    --typescale-label-large-line-height: 20px;
    --typescale-label-large-letter-spacing: 0.1px;
    --typescale-label-large-font: var(--typescale-label-large-font-family-name)
        var(--typescale-label-large-font-family-style)
        var(--typescale-label-large-font-weight)
        var(--typescale-label-large-font-size) /
        var(--typescale-label-large-line-height)
        var(--typescale-label-large-letter-spacing);

    /* label - medium */
    --typescale-label-medium-font-family-name: Roboto, sans-serif;
    --typescale-label-medium-font-family-style: Medium;
    --typescale-label-medium-font-weight: 500px;
    --typescale-label-medium-font-size: 12px;
    --typescale-label-medium-line-height: 16px;
    --typescale-label-medium-letter-spacing: 0.5px;
    --typescale-label-medium-font: var(
            --typescale-label-medium-font-family-name
        )
        var(--typescale-label-medium-font-family-style)
        var(--typescale-label-medium-font-weight)
        var(--typescale-label-medium-font-size) /
        var(--typescale-label-medium-line-height)
        var(--typescale-label-medium-letter-spacing);

    /* label - small */
    --typescale-label-small-font-family-name: Roboto, sans-serif;
    --typescale-label-small-font-family-style: Medium;
    --typescale-label-small-font-weight: 500px;
    --typescale-label-small-font-size: 11px;
    --typescale-label-small-line-height: 16px;
    --typescale-label-small-letter-spacing: 0.5px;
    --typescale-label-small-font: var(--typescale-label-small-font-family-name)
        var(--typescale-label-small-font-family-style)
        var(--typescale-label-small-font-weight)
        var(--typescale-label-small-font-size) /
        var(--typescale-label-small-line-height)
        var(--typescale-label-small-letter-spacing);

    /* title - large */
    --typescale-title-large-font-family-name: Roboto, sans-serif;
    --typescale-title-large-font-family-style: Regular;
    --typescale-title-large-font-weight: 400px;
    --typescale-title-large-font-size: 22px;
    --typescale-title-large-line-height: 28px;
    --typescale-title-large-letter-spacing: 0px;
    --typescale-title-large-font: var(--typescale-title-large-font-family-name)
        var(--typescale-title-large-font-family-style)
        var(--typescale-title-large-font-weight)
        var(--typescale-title-large-font-size) /
        var(--typescale-title-large-line-height)
        var(--typescale-title-large-letter-spacing);

    /* title - medium */
    --typescale-title-medium-font-family-name: Roboto, sans-serif;
    --typescale-title-medium-font-family-style: Medium;
    --typescale-title-medium-font-weight: 500px;
    --typescale-title-medium-font-size: 16px;
    --typescale-title-medium-line-height: 24px;
    --typescale-title-medium-letter-spacing: 0.15px;
    --typescale-title-medium-font: var(
            --typescale-title-medium-font-family-name
        )
        var(--typescale-title-medium-font-family-style)
        var(--typescale-title-medium-font-weight)
        var(--typescale-title-medium-font-size) /
        var(--typescale-title-medium-line-height)
        var(--typescale-title-medium-letter-spacing);

    /* title - small */
    --typescale-title-small-font-family-name: Roboto, sans-serif;
    --typescale-title-small-font-family-style: Medium;
    --typescale-title-small-font-weight: 500px;
    --typescale-title-small-font-size: 14px;
    --typescale-title-small-line-height: 20px;
    --typescale-title-small-letter-spacing: 0.1px;
    --typescale-title-small-font: var(--typescale-title-small-font-family-name)
        var(--typescale-title-small-font-family-style)
        var(--typescale-title-small-font-weight)
        var(--typescale-title-small-font-size) /
        var(--typescale-title-small-line-height)
        var(--typescale-title-small-letter-spacing);
}
