.display-large {
    font: var(--typescale-display-large-font);
}
.display-medium {
    font: var(--typescale-display-medium-font);
}
.display-small {
    font: var(--typescale-display-small-font);
}
.headline-large {
    font: var(--typescale-headline-large-font);
}
.headline-medium {
    font: var(--typescale-headline-medium-font);
}
.headline-small {
    font: var(--typescale-headline-small-font);
}
.body-large {
    font: var(--typescale-body-large-font);
}
.body-medium {
    font: var(--typescale-body-medium-font);
}
.body-small {
    font: var(--typescale-body-small-font);
}
.label-large {
    font: var(--typescale-label-large-font);
}
.label-medium {
    font: var(--typescale-label-medium-font);
}
.label-small {
    font: var(--typescale-label-small-font);
}
.title-large {
    font: var(--typescale-title-large-font);
}
.title-medium {
    font: var(--typescale-title-medium-font);
}
.title-small {
    font: var(--typescale-title-small-font);
}
