@use "sass:meta";
@use "sass:string";

@layer theme, ripple, components, classes, disabled;

@layer FeltUI {
	@layer theme {
		@include meta.load-css("theme");
	}

	@layer ripple {
		@include meta.load-css("ripple");
	}

	@layer components {
		@include meta.load-css("components");
	}

	@layer classes {
		// @include meta.load-css("classes");
	}

	@layer disabled {
		@include meta.load-css("disabled-components");
	}
}

@mixin font-face-declaration($font-name) {
	$file-name: string.to-lower-case($font-name);

	@font-face {
		font-family: "Material Symbols #{$font-name}";
		src: url("material-symbols/material-symbols-#{$file-name}.woff2")
			format("woff2");
		font-style: normal;
		font-weight: 100 700;
		font-display: block;
	}
}

@include font-face-declaration("Outlined");
@include font-face-declaration("Rounded");
@include font-face-declaration("Sharp");
