@mixin focus-ring(
    $thickness: 0.1875rem,
    $color: var(--secondary),
    $offset: 0.125rem
) {
    &:focus-visible {
        outline: $thickness solid $color;
        outline-offset: $offset;
    }
}
